* {
    box-sizing: border-box
} 

#headerEl {
    font-size: 20px;
    display: inline;
}

#highscoreEl {
    float:left;
    margin-left: 40px;
}

#timeEl {
    float:right;
    margin-right: 40px;
}

#quizContainerEl {
    width: 60%;
    height: 400px;
    border: 5px solid red;
    position: absolute;
    top:10%;
    left: 20%;
    right: 20%;
    bottom: 50px;
    
}

.startButton {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.playAgainButton {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gameTitle {
    text-align: center;
    font-size: 50px;
}

#questionEl {
    height:30%;
    font-size: 30px;
    font: 
}

.gameQuestionButtons {
    position: relative;
    text-align: center;
    width: 100%;
    height: 45px;
}

.highscoresList {
    text-align: center;
    /* justify-content: center; */
    width: 100%;
}
.highscoresTitle {
    text-align: center;
    /* justify-content: center; */
    width: 100%;
}

